[Unit]
Description=Run hss-app container with balena
Wants=balena.service
After=balena.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
TTYPath=/dev/tty2
StandardInput=tty
StandardOutput=tty
ExecPreStart=/usr/local/bin/balena stop hss-app-container
ExecStart=/usr/local/bin/balena run -it -t --net="host" --privileged -v framectrdata:/framectrdata --name hss-app-container --rm hss-app

[Install]
WantedBy=multi-user.target