[Unit]
Description=Run hss-app container with balena
Wants=balena.service
After=balena.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/balena run -it -d --net="host" --privileged -v framectrdata:/framectrdata --name hss-app-container --rm hss-app

[Install]
WantedBy=multi-user.target